html {
  height: 100%;
  width: 100%;
  font-family: bahnschrift, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  font-family: bahnschrift, sans-serif;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.form {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #f2c2f2;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #f2c2f2;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #f38ef5;
}

.hidden {
  display: none;
}

p {
  font-size: 14px;
}

a {
  color: black;
  text-decoration: underline;
}
