/* Style sheet for use with tables */

table {
  margin: auto;
  border: 5px solid #000066;
  width 600px;
}

td, th {
  border: 1px solid #000066;
  padding: 0.5em;
  font-family: Arial, sans-serif;
}